*{
margin: 0%;
padding: 0%;
font-family: Arial, Helvetica, sans-serif;

}

body{
    background-color: rgb(255, 230, 0);

}

h1, h2, h3, h4, h5, h6{
    color: rgb(201, 98, 233);
}

p, label{
color: rgb(99, 0, 74);
}

input {
    border: none;
    background-position: 1px solid #0aa5ff;
    padding: 10px 0;
}

input[type="text"],input[type="number"],input[type="date"],input[type="file"], textarea{
    width: 400px;
}

textarea{
padding: 10px 5px;
}

.cabecalho {
height: 160px;
padding: 20px;
background-color: rebeccapurple;
}

.cabecalho h3{
    color: bisque;
    margin-top: 0;
}