*{
margin: 0%;
padding: 0%;
font-family: Arial, Helvetica, sans-serif;

}

body{
    background-color: rgb(198, 122, 221);

}

h1, h2, h3, h4, h5, h6{
    color: rgb(37, 2, 48);
}

p, label{
color: rgb(99, 0, 74);
}

input {
    border: none;
    background-position: 1px solid #0aa5ff;
    padding: 10px 0;
}

input[type="text"],input[type="number"],input[type="date"],input[type="file"], textarea{
    width: 400px;
}

textarea{
padding: 10px 5px;
}

.cabecalho {
height: 160px;
padding: 20px;
background-color: rebeccapurple;
}

.cabecalho h3{
    color: bisque;
    margin-top: 0;
}

.form-container {
    background-color: aliceblue;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -46px;
}

.form-header{
border-bottom: 1px solid #ff00aa;
height: 45px;
}

.form-header p {
    color: lightcoral;
    border-bottom: 2px solid #ffaf02;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
    

}